// Font-family
$f-sans: 'Open Sans', Arial, Helvetica, sans-serif;

// Colors
$c-black: #000;
$c-white: #fff;
$c-dark: #333;
$c-gray: #777;
$c-dblue: #303E4E;

// Breakpoints
$break-s: 30em; // ~480px
$break-m: 48em; // ~768px
$break-l: 64em; // ~1024px
$break-xl: 80em; // ~1280px
